//- Importing bootstrap
@import 'vendors/bootstrap/bootstrap';

//- Importing Mixins
@import 'helpers/mixins';

//- Importing animation
@import 'base/animation';


body {
    text-align: left;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

}

.body-bg-color-g {
    background-color: #ebebeb;
    padding: 29px 0px;

    @include media-breakpoint-between(sm, md){
        padding: 4px 0;
    }

}


//- Importing helpers
@import 'helpers/helpers';


//- Importing reset
@import 'base/reset';

//- Importing header
@import 'layout/header';

//- Importing home page 
@import 'pages/home';

//- Importing home sidebar
@import 'layout/home-sidebar';

//- Importing Blogs page
@import 'pages/blog';

//- Importing General sidebar
@import 'layout/sidebar';

//- Importing Footer
@import 'layout/footer';

