/* Start Home page Style */



/* Start News Bar */
.auto-news-bar {
  padding: 15px 0;

  h2 {
    font-size: 15px;
    background-color: #31bcaa;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    margin: auto;
    max-width: 138px;

    @include media-breakpoint-between(sm, md) {
      font-size: 13px;
    }
  }

  .row {
    align-items: center;
    @include media-breakpoint-between(sm, md){
      .col-md-2{padding-right: 0;}
    }
  }

  .news-auto-slider-bar {
    position: relative;

    .slide {
      display: flex;

      p {
        padding: 0;

        transition: all .3s linear;
        color: #000;

        &:hover {
          color: #30bcaa;
        }

        @include media-breakpoint-between(sm, md) {
          font-size: .875rem;
        }

      }

      span {
        margin-left: 8px;
        color: #A0A0A0;
      }

      @include media-breakpoint-between(sm, md) {
        padding-left: 12px;
      }
    }

    /* owl nav*/
    .owl-nav {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      .owl-prev,
      .owl-next {
        width: 40px;
        height: 27px;
        text-align: center;
        font-size: 18px;
        background-color: #FFF;
        border: 1px solid #666;
        color: #666;

        @include media-breakpoint-between(sm, md) {
          width: 28px;
          height: 24px;
        }
      }

      .owl-next {
        margin-left: 5px;
      }

    }

  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

}

/* End News Bar */


/* Start Main News Slider */
.news-slide-diff-cats {

  background: #FFF;
  font-size: 14px;
  padding: 1.25rem;
  margin-bottom: 25px;

  .slide-catgory {
    .slider-item-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;

      .column {


        .article-bg-img {
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 348px;
            object-fit: cover;
          }
        }

        .article-cat-main {
          color: #FFF;
          position: relative;

          .article-caption {
            z-index: 2;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 347px;

            .cat-name {
              padding-left: 15px;

              span {
                display: inline-block;
                padding: 4px;
                border-radius: 1px;
                margin-right: 0.50rem;
                font-size: 11px;
                text-transform: uppercase;
                background: #e52d6d;
                color: #FFF;
              }

              a:last-of-type span {
                background: #41bc25;
              }
            }

            .article-info {
              padding: 12px 15px 8px;
            }

            &::before {
              content: "";
              background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(0, 0, 0, 0.5) 50%, black 100%);
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
            }

            * {
              z-index: 9;
            }

          }

          &:hover h3 {
            color: #31bcaa;
            transition: all .3s linear;
          }

        }

        .mini-articles {
          display: grid;
          grid-template-columns: repeat(2, auto);

          article {

            position: relative;
            height: 174px;

            .article-bg-img {

              img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .article-description {
              z-index: 2;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              height: 100%;

              &::before {
                content: "";
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 1%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 100%);
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
              }

              .article-info {
                color: rgba(255, 255, 255, 0.7);
                font-size: 0.75rem;
                font-weight: 400;
                padding: 8px 17px;
              }

              * {
                z-index: 9;
              }

            }

            &:hover h3 {
              color: #31bcaa;
              transition: all .3s linear;
            }
          }

        }


        @include media-breakpoint-down(md) {
          color: #FFF;
          height: 347px;
        }
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: auto;
      }
    }
  }

  h3.article-title {
    color: #FFF;
    font-size: 14px;
    line-height: 1.250rem;
    padding: 0px 17px;
    font-weight: 600;
  }

/* Including owl nav and dots style*/
@include owlNavDotsWidth(50px, 60px);

}

/* End Main News Slider */


/* Start Featured News slider */
.featured-news {
  margin-bottom: 25px;
  background: #FFF;
  padding: 1.25rem;

  h2.special-heading {
    margin-bottom: 13px;
  }

  .featured-news-slider {

    .slide {
      margin-bottom: 20px;
      transition: all .3s linear;

      img {
        height: auto;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }

      .article-info {
        margin-top: 0.625rem;

        .comments {
          &::after {
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }

      h3.article-title {
        color: #252525;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.25rem;
        margin-bottom: 0;
        font-weight: 600;
        transition: all .3s linear;

        &:hover {
          color: #30bcaa;
        }
      }

      &:hover h3.article-title {
        color: #30bcaa;
      }
    }

  }

/* Including owl nav and dots style*/
@include owlNavDotsWidth(40px, 50px);

}

/* End Featured News slider */

/* Start World News */
.world-news {
  .world-news-container {
    background: #FFF;
    padding: 1.25rem;
    margin-bottom: 25px;

    .main-article {
      display: grid;
      grid-template-columns: auto auto;
      grid-column-gap: 21px;
      margin-bottom: 22px;

      img {
        height: 269px;

        @include media-breakpoint-down(md) {
          width: 100%;
          object-fit: cover;
          margin-bottom: 11px;
          height: auto;
        }
      }

      h3.article-title {
        color: #252525;
        margin-top: 0.5rem;
        font-size: 0.9rem;
        line-height: 1.25rem;
        margin-bottom: 0;
        font-weight: 600;
        transition: all .3s linear;

        &:hover {
          color: #30bcaa;
        }
      }

      p.article-content {
        font-size: 15px;
        line-height: 1.65;
        font-weight: 400;
        color: #666;
        margin-bottom: 0;
      }

      @include media-breakpoint-down(md) {
        grid-template-columns: auto;
      }
    }

    .mini-articles {

      @include media-breakpoint-down(md) {
        padding: 0 5px;
      }

      .article {
        display: grid;
        // grid-template-columns: 30% 70%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-column-gap: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(235, 235, 235, 0.8);
        margin-bottom: 20px;

        h3.article-title {
          color: #252525;
          margin-top: 0.5rem;
          font-size: 0.9rem;
          line-height: 1.25rem;
          margin-bottom: 0;
          font-weight: 600;
          transition: all .3s linear;

          &:hover {
            color: #30bcaa;
          }
        }

      }

      .col-md-6:last-of-type .article {
        border-bottom: none;
      }


      h2.view-all {
        margin: 20px auto;

        a {
          font-size: 0.875rem;
          font-weight: 400;
          background: transparent;
          color: #666;
          padding: 12px 12px;
          border: solid 1px #999;
          min-width: 250px;
          text-transform: uppercase;
          transition: all .3s linear;
          display: block;
          text-align: center;

          &:hover {
            background: #31bcaa;
            color: #FFF;
            border-color: transparent;
          }

        }
      }
    }

    .article-info {
      .comments {
        &::after {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    img {
      height: auto;
      max-width: 100%;
      width: 100%;

      @include media-breakpoint-down(md) {
        margin-bottom: 6px;
      }
    }

  }
}

/* End World News */

/* Start buying section */
.buying-sect {
  margin-bottom: 30px;
  margin-top: 15px;

  img{
    max-width: 100%;
    height: auto;
  }
}

/* End buying section */

/* Start categories section */
.categories {
  margin-bottom: 25px;

  .cats-box {
    background: #FFF;

    .cat {
      display: grid;
      grid-template-columns: 40% 60%;
      border: 1px solid rgba(235, 235, 235, 0.8);
      grid-column-gap: 12px;
      padding: 22px;

      img {
        max-width: 100%;
        height: 100%;
        width: 100%;

        @include media-breakpoint-down(lg) {
          height: 100px;
        }
      }

    }

    .cat-content {
      span.cat-name {
        color: #888888;
        font-size: 0.75rem;
        margin-top: -4px;
        display: block;
        transition: all .3s linear;

        &:hover {
          color: #30bcaa;
        }
      }

      h3.cat-title {
        a {
          font-size: 0.875rem;
          color: #000;
          font-weight: 600;
          display: block;
          line-height: 1.4;
          margin-top: 3px;
          transition: all .3s linear;

          &:hover {
            color: #30bcaa;
          }

        }

      }
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 25px;
    }
  }

  @include media-breakpoint-down(lg) {
    .row div:last-child .cats-box {
      margin-bottom: 0;
    }
  }
}

/* End categories section */

/* Start Trending News */
.trending-news {

  .slider-bg-container {
    background: #FFF;
    padding: 22px;
  }

  .trending-news-slider {

    .slide {
      img {
        width: 100%;
        margin-bottom: 5px;
      }

      .article-info {
        .comments::after {
          background: rgba(0, 0, 0, 0.3);
        }
      }

      a {
        h3.article-title {
          color: #252525;
          margin-top: 0.5rem;
          font-size: 0.9rem;
          line-height: 1.25rem;
          margin-bottom: 0;
          font-weight: 600;
          transition: all .3s linear;

          &:hover {
            color: #30bcaa;
          }
        }
      }
    }
  }

/* Including owl nav and dots style*/
@include owlNavDotsWidth(33px, 43px);

}

/* End Trending News */